[Desktop Entry]
Type=Application
Name=networkmanager starter
Comment=networkmanager
Exec=systemctl restart NetworkManager
Icon=network-wired
Terminal=false
Categories=System;